@import "../../../../shared-styles/variables";

.photo {
  display: block;
  width: 25%;
  padding-bottom: 25%;
  position: relative;
  float: left;

  img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    position: absolute;
    background-color: white;
    left: 10px;
    right: 10px;
    bottom: -10px;
    font-size: 13px;
    word-wrap: break-word;
  }

  button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      fill: #fff;
      right: 0;
      top: 0;
      z-index: 3;
      position: absolute;
      padding: 10px;
      background-color: #53a9fe;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      cursor: pointer;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
      -webkit-transition: all .4s ease;
      transition: all .4s ease;

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0 0 32px 0 rgba(0,0,0,.75)
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .photo {
    width: 33%;
    padding-bottom: 33%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 480px) {
  .photo {
    width: 50%;
    padding-bottom: 50%;
    box-sizing: border-box;
  }
}

.innerBox {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
}