
@import '../../src/shared-styles/variables';

.login {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);

  h2 {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-weight: 300;
  }
}