.progressBar {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.dragArea {
  border: solid 1px rgb(48, 63, 159);
  background: rgba(48, 63, 159, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;

  p {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
  }
}
